<li class="drink-item">
    <label for="input-drink_id" class="required-field">Drink Flavor</label>
    <select name="input-drink_id" class="input-drink_id">
        <option value=""></option>
        {{#each drinks}}
        <option value="{{[Drink ID]}}">{{[Base Flavor]}}</option>
        {{/each}}
    </select>

    <label for="input-amt_add_on">Number of toppings</label>
    <select name="input-amt_add_on" class="input-amt_add_on">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <label for="input-sweetness_lvl" class="required-field">Sweetness</label>
    <select name="input-sweetness_lvl" class="input-sweetness_lvl">
        <option value="100">100%</option>
        <option value="75">75%</option>
        <option value="25">25%</option>
        <option value="0">0%</option>
    </select>

    <label for="input-drink_size" class="required-field">Size</label>
    <select name="input-drink_size" class="input-drink_size">
        <option value="R">Regular</option>
        <option value="S">Small</option>
    </select>

    <label for="input-price">
        Price: $
        <output class="input-price" name="input-price">0</output>
    </label>

    <button class="remove-drink">−</button>

    <br/>
    <div class="topping-entry-container">
        <ol class="drink-addons">
        </ol>
    </div>
</li>