/* Resources */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* https://www.joshwcomeau.com/css/interactive-guide-to-flexbox/ */
/* https://fonts.google.com/icons?preview.text=Hangman%20Bob&preview.text_type=custom&icon.query=game&icon.style=Rounded&icon.platform=web */

/* FONTS */
/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Righteous', cursive; */

/* COLORS */
/* OffWhite:     #FDFCFB */

/* Taro:         #DBC2DF */
/* TaroLight:    #E2CEE5 */
/* TaroDark:     #B5A5B7 */

/* Matcha:       #A1B27C */
/* MatchaDark:   #99A976 */

/* ------------------------------------------------------------------------------------ */
/* META/EFFECTS/SYMBOLS --------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: #FDFCFB;
    font-family: 'Barlow', sans-serif;
}

/* Remove all extra style such as underlining on links */
a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
}

.center-text {
    text-align: center;
}

/* ------------------------------------------------------------------------------------ */
/* HEADER/NAVBAR ---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ */

.banner {
    max-height: 10vh;
    min-height: 60px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #FDFCFB;

    padding-top: 0.5em;
    padding-left: 2.5%;
    padding-right: 2.5%;

    background-color: #DBC2DF;
    /* border: 1px solid black; */
}

h1.logo {
    font-family: 'Righteous', cursive;
    /* font-size: 32px; */
    font-size: calc(110% + 1vw);
    font-weight: 400;

    width: 20%;
    margin-right: 2em;
    border: 1px solid black;
}

h1.logo a {
    display: inline-block;
    color: #FDFCFB;

    width: 5.5em;
    border-bottom: 4px solid #FDFCFB;
}

h2 a {
    font-family: 'Righteous', cursive;
    /* font-size: 32px; */
    font-size: calc(70% + 1vw);
    text-align: center;

    font-weight: 400;
    color: #FDFCFB;
}

.navigationbar {
    width: 75%;
    align-self: flex-end;
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.navitem {
    display: inline-block;
    width: 20%;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: #E2CEE5;
}

.navlink a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: inline-block;
}

/* ------------------------------------------------------------------------------------ */
/* CONTENT ---------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------ */
.content {
    height: 40vb;

    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: pink;
    border: 1px solid black;
}